[Unit]
Description=Small description of the service
After=network.target

[Service]
Type=simple
User=__APP__
Group=__APP__
EnvironmentFile=__FINALPATH__/.env
WorkingDirectory=__FINALPATH__/
ExecStart=__YNH_NODE__ __FINALPATH__/main.js

[Install]
WantedBy=multi-user.target
